@using System
@using Coveo.UI.Extensions
@model Coveo.UI.Mvc.Models.FacetModel

@* When customizing this component, ensure to use "Coveo.$" instead of the regular jQuery "$" to
    avoid any conflicts with Sitecore's Page Editor/Experience Editor.  *@

@Html.Coveo().RenderErrorSummary(Model.ValidateModel())

@if (Model.IsConfigured)
{
    <div>
        @if (Model.IconProperties != null)
        {
            <style>
                @(Html.Raw(Model.GetIconCss()))
            </style>
        }

        <script type="text/javascript">
            Coveo.$(function () {
                var facetOptions = @Html.Raw(Model.GetJavaScriptInitializationOptions());
                CoveoForSitecore.componentsOptions = Coveo.$.extend({}, CoveoForSitecore.componentsOptions, facetOptions);
            });
        </script>


        <div id="filter_@Model.Id">
            <div class="CoveoFacet" id='@Model.Id' style="width: 300px;"
                 data-title='@Model.Title'
                 data-field='@Model.Field'
                 data-number-of-values='@Model.NumberOfValues'
                 data-id='@Model.Id'
                 data-enable-collapse='@Model.EnableCollapse'
                 data-enable-more-less='@Model.EnableMoreLess'
                 data-enable-settings='@Model.EnableSettings'
                 data-lookup-field='@Model.LookupField'
                 data-sort-criteria='@Model.Sort'
                 data-is-multi-value-field='@Model.IsMultiValueField'
                 data-show-icon='@Model.ShowIcon'
                 data-header-icon='no-icon'
                 data-computed-field='@Model.ComputedField'
                 data-computed-field-operation='@Model.ComputedFieldOperation'
                 data-computed-field-format='@Model.ComputedFieldFormat'
                 data-computed-field-caption='@Model.ComputedFieldCaption'
                 data-include-in-breadcrumb='@Model.IncludeInBreadcrumb'
                 data-number-of-values-in-breadcrumb='@Model.NumberOfValuesInBreadcrumb'
                 data-enable-facet-search='@Model.EnableFacetSearch'
                 data-number-of-values-in-facet-search='@Model.NumberOfValuesInFacetSearch'
                 data-enable-toggling-operator='@Model.EnableTogglingOperator'
                 data-use-and='@Model.UseAnd'
                 data-page-size='@Model.MorePageSize'
                 data-injection-depth='@Model.InjectionDepth'
                 data-available-sorts='@String.Join(",", Model.AvailableSorts)'>
            </div>
        </div>
    </div>
}

